.main-section {
  margin: 300px auto;
  text-align: center;
}

.logoLetter {
  font-size: 64px;
  color: var(--primary-color);
}

.appTitle {
  font-size: 48px;
  color: var(--accent-color);
}

i, form {
  padding: 0 5px;
}

i {
  font-size: 24px;
  display: inline;
  margin-left: 15px;
}

form {
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
}